.Home {
}

.auth__main{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}
.auth__main div {
  border: 1px solid black;
  text-align: center;
}

.auth__btn {
  margin-top:6em;
  margin-bottom:1em;
}
